.-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.-layout .-inner-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: #1c1c1c;
}
.-layout .-inner-layout .-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  max-width: 80rem;
  width: 100%;
}

.-nav {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1.5rem 2rem 0 2rem;
}
.-nav .-inner-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
}
.-nav .-inner-nav a {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
}
.-nav .-inner-nav a .-logo {
  color: #ededed;
}
.-nav .-inner-nav a .-logo svg {
  display: block;
  vertical-align: middle;
}
.-nav .-inner-nav a .-title {
  color: #ededed;
  font-size: 1rem;
  line-height: 1.5rem;
}

.-reset-form-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.-reset-form-layout .-inner-reset-form-layout {
  display: flex;
  flex-direction: column;
  max-width: 448px;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.-reset-form-header {
  margin-bottom: 1.5rem;
}
.-reset-form-header h1 {
  color: #ededed;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.-reset-form-header h2 {
  color: #bbb;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.-reset-form-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.-reset-form-form .-inner-reset-form-form {
  padding-top: 1rem;
}

.-reset-form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.-reset-form-input .-title {
  display: flex;
  align-items: center;
  width: 100%;
}
.-reset-form-input .-title label {
  color: #bbb;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.-input input[type=password] {
  display: flex;
  height: 2.5rem;
  width: 100%;
  border: 1px solid #3e3e3e;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
  border-radius: calc(0.5rem - 2px);
  color: #ededed;
  background-color: hsla(0, 0%, 100%, 0.03);
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.-input input[type=password]:focus {
  border-color: #707070;
  --tw-ring-offset-shadow: 0 0 0 0 #fff;
  --tw-ring-shadow: 0 0 0 calc(2px + 0px) #282828;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0, 0, 0, 0));
}
.-input input[type=password][data-error=true] {
  background-color: #1f1315;
  border-color: #822025;
}
.-input input[type=password][data-error=true]:focus {
  border-color: #707070;
  --tw-ring-offset-shadow: 0 0 0 0 #fff;
  --tw-ring-shadow: 0 0 0 calc(2px + 0px) #282828;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0, 0, 0, 0));
}
.-input p {
  color: #e5484d;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 0.5rem;
  font-weight: 600;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  animation: slideDownError 0.2s cubic-bezier(0.87, 0, 0.13, 1) forwards;
}
@keyframes slideDownError {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: inherit;
    opacity: 1;
  }
}

.-set-password-description {
  margin-top: 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.-set-password-description .-inner-set-password-description .-des {
  display: flex;
  align-items: center;
  color: #707070;
  gap: 0.25rem;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.-set-password-description .-inner-set-password-description .-des[data-contain=true] {
  color: #bbb;
}
.-set-password-description .-inner-set-password-description .-des svg {
  display: block;
  vertical-align: middle;
  height: 1rem;
  width: 1rem;
}
.-set-password-description .-inner-set-password-description .-des p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-left: 6px;
}

.-form-line {
  border-top: 1px solid #2e2e2e;
  margin-top: 1rem;
}

.-submit-button {
  margin-top: 1rem;
}
.-submit-button button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #2e2e2e;
  background-color: #c8c8c8;
  border: 0;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: all 150ms cubic-bezier(0, 0, 0.2, 1);
}
.-submit-button button span {
  text-align: center;
  font-weight: 500;
}
.-submit-button button:disabled {
  cursor: not-allowed;
}
.-submit-button button:hover {
  background-color: #ededed;
}

.-reset-form-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.-reset-form-description p {
  color: #bbb;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.-layout .-inner-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: #1c1c1c;
}
.-layout .-inner-layout .-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  max-width: 80rem;
  width: 100%;
}

.-nav {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1.5rem 2rem 0 2rem;
}
.-nav .-inner-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
}
.-nav .-inner-nav a {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
}
.-nav .-inner-nav a .-logo {
  color: #ededed;
}
.-nav .-inner-nav a .-logo svg {
  display: block;
  vertical-align: middle;
}
.-nav .-inner-nav a .-title {
  color: #ededed;
  font-size: 1rem;
  line-height: 1.5rem;
}

.-reset-form-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.-reset-form-layout .-inner-reset-form-layout {
  display: flex;
  flex-direction: column;
  max-width: 448px;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.-reset-form-header {
  margin-bottom: 1.5rem;
}
.-reset-form-header h1 {
  color: #ededed;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.-reset-form-header h2 {
  color: #bbb;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.-reset-form-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.-reset-form-form .-inner-reset-form-form {
  padding-top: 1rem;
}

.-reset-form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.-reset-form-input .-title {
  display: flex;
  align-items: center;
  width: 100%;
}
.-reset-form-input .-title label {
  color: #bbb;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.-input input[type=password] {
  display: flex;
  height: 2.5rem;
  width: 100%;
  border: 1px solid #3e3e3e;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
  border-radius: calc(0.5rem - 2px);
  color: #ededed;
  background-color: hsla(0, 0%, 100%, 0.03);
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.-input input[type=password]:focus {
  border-color: #707070;
  --tw-ring-offset-shadow: 0 0 0 0 #fff;
  --tw-ring-shadow: 0 0 0 calc(2px + 0px) #282828;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0, 0, 0, 0));
}
.-input input[type=password][data-error=true] {
  background-color: #1f1315;
  border-color: #822025;
}
.-input input[type=password][data-error=true]:focus {
  border-color: #707070;
  --tw-ring-offset-shadow: 0 0 0 0 #fff;
  --tw-ring-shadow: 0 0 0 calc(2px + 0px) #282828;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0, 0, 0, 0));
}
.-input p {
  color: #e5484d;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 0.5rem;
  font-weight: 600;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  animation: slideDownError 0.2s cubic-bezier(0.87, 0, 0.13, 1) forwards;
}
@keyframes slideDownError {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: inherit;
    opacity: 1;
  }
}

.-set-password-description {
  margin-top: 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.-set-password-description .-inner-set-password-description .-des {
  display: flex;
  align-items: center;
  color: #707070;
  gap: 0.25rem;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.-set-password-description .-inner-set-password-description .-des[data-contain=true] {
  color: #bbb;
}
.-set-password-description .-inner-set-password-description .-des svg {
  display: block;
  vertical-align: middle;
  height: 1rem;
  width: 1rem;
}
.-set-password-description .-inner-set-password-description .-des p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-left: 6px;
}

.-form-line {
  border-top: 1px solid #2e2e2e;
  margin-top: 1rem;
}

.-submit-button {
  margin-top: 1rem;
}
.-submit-button button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #2e2e2e;
  background-color: #c8c8c8;
  border: 0;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: all 150ms cubic-bezier(0, 0, 0.2, 1);
}
.-submit-button button:hover {
  background-color: #ededed;
}
.-submit-button button span {
  text-align: center;
  font-weight: 500;
}

.-reset-form-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.-reset-form-description p {
  color: #bbb;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.alert {
  position: fixed;
  z-index: 9999;
  inset: 16px;
  pointer-events: none;
}
.alert .alert-panel {
  color: #ededed;
  background-color: #1c1c1c;
  border: 1px solid #282828;
  display: flex;
  align-items: center;
  line-height: 1.3;
  will-change: transform;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.05);
  max-width: 380px;
  width: fit-content;
  pointer-events: auto;
  border-radius: 8px;
  margin-left: auto;
  padding: 8px 16px;
  font-size: 0.875rem;
  animation: 0.35s cubic-bezier(0.21, 1.02, 0.73, 1) 0s 1 normal forwards running alert-pop-up;
}
@keyframes alert-pop-up {
  0% {
    transform: translate3d(0, -200%, 0) scale(0.6);
    opacity: 0.5;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

.icon svg {
  display: block;
  vertical-align: middle;
}

.alert-content {
  display: flex;
  align-items: center;
  margin-left: 6px;
}
.alert-content .message {
  max-width: 260px;
  width: 100%;
}
.alert-content .message span {
  text-align: center;
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
}
.alert-content .close-btn {
  margin-left: 1rem;
}
.alert-content .close-btn button {
  display: inline-flex;
  align-items: center;
  color: #ededed;
  background-color: transparent;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  padding: 0.25rem;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.alert-content .close-btn button:hover {
  background-color: #2e2e2e;
}
.alert-content .close-btn button svg {
  display: block;
  vertical-align: middle;
}

/*# sourceMappingURL=reset-password.css.map */
