@use "../variables" as var;

%flex-center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

%nested-picture-style {
  div {
    padding-top: 100%;
    overflow: hidden;
    position: relative;

    picture {
      display: block;
      max-width: 100%;

      img {
        opacity: 1;
        position: absolute;
        display: block;
        height: calc(100% + 1px);
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        transition: opacity 0.4s linear;
        width: calc(100% + 1px);
        z-index: 1;
        object-fit: cover;
        max-width: 100%;
      }
    }
  }
}

.header {
  height: 0;
  position: sticky;
  top: 0;
  z-index: 6;
}

.main-navigator {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25.5px;
  border-bottom: 1px solid var.$base-foreground;
  z-index: 7;

  background: linear-gradient(
      to bottom,
      var.$base-foreground 50%,
      transparent 50%
    )
    bottom;
  background-size: 100% 200%;

  transition-property: color, background-color, background-position,
    border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;

  div > {
    a[data-btn-type="link"],
    a[data-btn-type="default"],
    button[data-btn-type="default"] {
      color: var.$base-foreground;

      &:hover {
        color: var.$base-foreground;
      }
    }
  }

  .header-title {
    @extend %flex-center-both;

    .header-content-title {
      font-size: 40px;
      line-height: 40px;

      a {
        color: var.$base-foreground;
        text-decoration: none;

        a:visited {
          color: var.$base-background;
        }
      }
    }
  }

  .navigator-left {
    @extend %flex-center-both;
    gap: 4px;

    .-shop-nav,
    .-info-nav {
      background-color: transparent;

      &:hover {
        background-color: transparent;
        text-underline-offset: 4px;
        text-decoration: solid underline currentColor 2px;
      }
    }
  }

  .navigator-right {
    @extend %flex-center-both;
    gap: 4px;
  }

  &.isScroll {
    border-bottom-color: var.$base-background;
    background-position: top;

    div > {
      a,
      button {
        color: var.$base-background;

        &:hover {
          color: var.$base-background;
        }
      }
    }

    .header-title > .header-content-title > a {
      color: var.$base-background;
    }
  }
}

.-nav-expand {
  background-color: var.$base-foreground;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 3;

  @media (min-width: 768px) {
    & {
      display: block;
    }
  }
}

.-nav-expand-outer {
  position: absolute;
  left: 0;
  right: 0;
  visibility: hidden;
  overflow: hidden;
  pointer-events: none;
  margin-top: -0.1rem;
  background-color: var.$base-foreground;
  padding: 4px 32px 32px 32px;
  border-bottom: 1px solid var.$base-background;
  transform-origin: top center;
  transition: visibility, height 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &.-active {
    pointer-events: auto;
    animation: dropdown-down 300ms cubic-bezier(0.4, 0, 0.2, 1) forwards;

    @keyframes dropdown-down {
      0% {
        transform: scaleY(0);
      }
      100% {
        visibility: visible;
        transform: scaleY(1);
      }
    }
  }

  &.-in-active-shop {
    animation: dropdown-up-1 600ms ease forwards;

    @keyframes dropdown-up-1 {
      0% {
        visibility: visible;
        transform: scaleY(1);
      }
      100% {
        visibility: hidden;
        transform: translateY(-510px);
      }
    }
  }

  &.-in-active-info {
    animation: dropdown-up-2 300ms ease forwards;

    @keyframes dropdown-up-2 {
      0% {
        visibility: visible;
        transform: scaleY(1);
      }
      100% {
        visibility: hidden;
        transform: translateY(-145px);
      }
    }
  }

  &.-switch-s {
    height: 484px;
    visibility: visible;
    transform: scaleY(1);
    animation: skrink-down 300ms cubic-bezier(0.4, 0, 0.2, 1) forwards;

    @keyframes skrink-down {
      100% {
        //visibility: visible;
        //transform: scaleY(1);
        height: 144px;
      }
    }
  }

  &.-switch-i {
    height: 144px;
    visibility: visible;
    transform: scaleY(1);
    animation: skrink-up 300ms cubic-bezier(0.4, 0, 0.2, 1) forwards;

    @keyframes skrink-up {
      100% {
        //visibility: visible;
        //transform: scaleY(1);
        height: 484px;
      }
    }
  }
}

.-nav-expand-inner {
  display: flex;
  justify-content: space-between;

  .-div {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .-nav-expand-feature {
      padding-left: 2rem;
      position: relative;
      flex: 1;
      display: flex;
    }
  }
}

.-nav-expand-content {
  flex: 1;

  ul {
    opacity: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;

    &.-active {
      animation: text-slide-in 300ms cubic-bezier(0.4, 0, 0.2, 1) forwards;

      @keyframes text-slide-in {
        from {
          transform: translateX(-2%);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    &.-in-active {
      animation: text-slide-out 50ms cubic-bezier(0.4, 0, 0.2, 1) forwards;

      @keyframes text-slide-out {
        to {
          opacity: 0;
          transform: translateX(0%);
        }
      }
    }

    &.-i {
      transform: translateX(-2%);
      animation: -i 200ms cubic-bezier(0.4, 0, 0.2, 1) forwards;

      @keyframes -i {
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    &.-s {
      transform: translateX(-2%);
      animation: -s 200ms cubic-bezier(0.4, 0, 0.2, 1) forwards;

      @keyframes -s {
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    li {
      font-size: 36px;
      line-height: 54px;
      font-weight: 400;

      a {
        color: var.$base-background;
        text-decoration: none;
        opacity: 1;

        transition-duration: 0.2s;
        transition-property: opacity;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
          opacity: 0.4;
        }
      }
    }
  }
}

.line {
  height: 0;
  width: 1px;
  background-color: var.$base-background;

  &.-active {
    animation: border-draw-down 300ms ease-in-out forwards;

    @keyframes border-draw-down {
      to {
        height: 100%;
      }
    }
  }

  &.-in-active {
    animation: border-draw-up 150ms cubic-bezier(0.4, 0, 0.2, 1) forwards;

    @keyframes border-draw-up {
      from {
        height: 100%;
      }
      to {
        height: 0;
      }
    }
  }
}

.-feature-title {
  display: block;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  letter-spacing: 0.1em;
  position: absolute;
  right: 99%;
  text-transform: uppercase;
  top: 0;
  width: 1rem;

  span {
    display: block;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 50%;
    // 2 options slide Y or X
    transform: translateX(20%) rotate(90deg);
    transform-origin: left top;
    white-space: nowrap;
    opacity: 0;

    &.-active {
      animation: feature-title-slide-down 300ms ease-in-out forwards;

      @keyframes feature-title-slide-down {
        to {
          opacity: 1;
          transform: translateX(0) rotate(90deg);
        }
      }
    }

    &.-in-active {
      animation: feature-title-slide-up 50ms ease-in-out forwards;

      @keyframes feature-title-slide-up {
        from {
          opacity: 1;
          transform: translateX(0) rotate(90deg);
        }
        to {
          opacity: 0;
          transform: translate(0, -100%) rotate(90deg);
        }
      }
    }
  }
}

.-product-card-featured {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  position: relative;
  opacity: 0;
  border-width: 1px;
  margin: -0.5px;
  padding-right: 2rem;
  white-space: normal;
  height: 100%;
  max-width: 400px;

  &.-active {
    animation: product-pic-slide-in 300ms cubic-bezier(0.4, 0, 0.2, 1) forwards;

    @keyframes product-pic-slide-in {
      from {
        transform: translateX(-2%);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &.-in-active {
    animation: product-pic-slide-out 50ms cubic-bezier(0.4, 0, 0.2, 1) forwards;

    @keyframes product-pic-slide-out {
      from {
        opacity: 1;
        transform: translateX(0);
      }
      to {
        opacity: 0;
        transform: translateX(5%);
      }
    }
  }

  &:hover {
    .-product-card-visual {
      .photo {
        .is-hover {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.-product-card-visual {
  position: relative;

  .photo {
    overflow: hidden;
    position: relative;

    .is-default {
      margin: 0;
      position: relative;

      @extend %nested-picture-style;
    }

    .is-hover {
      margin: 0;
      inset: 0;
      opacity: 0;
      position: absolute;
      transition-duration: 0.15s;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      visibility: hidden;
      z-index: 1;

      @extend %nested-picture-style;
    }
  }
}

.-product-card-details {
  margin-top: 6px !important;

  .-product-card-header {
    .-product-title {
      text-align: center;

      .-product-link {
        font-size: 25px !important;
        line-height: 45px !important;
        font-weight: 600 !important;
        text-decoration: none !important;
        color: var.$base-background !important;

        &:after {
          content: "";
          display: block;
          inset: 0;
          position: absolute;
          z-index: 2;
        }
      }
    }

    .-price {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px !important;

      .-price-current {
        font-size: 16px;
        font-weight: 600;
      }

      .-price-discount {
        background-color: var.$base-background;
        border-radius: 0.3rem;
        color: var.$base-foreground;
        font-size: 0.6rem;
        font-weight: 600;
        letter-spacing: 0.1em;
        margin-left: 0.8rem;
        padding: 0.4rem 0.6rem;
        text-transform: uppercase;
      }
    }
  }
}

.-back-drop {
  background-color: #00000066;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.15s linear;

  &.-active {
    backdrop-filter: blur(6px);
    opacity: 1;
    pointer-events: auto;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  flex-wrap: wrap;
  flex-shrink: 0;
  height: fit-content;
  min-height: 25px;
  width: fit-content;
  padding: 10px;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  border: 1px;
  border-radius: 0.375rem;
  text-transform: uppercase;
  color: var.$base-foreground;
  background-color: var.$base-background;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  -webkit-user-select: none;
  user-select: none;

  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &[data-btn-type="link"] {
    color: currentColor;
    background-color: transparent;

    &:hover {
      text-underline-offset: 4px;
      text-decoration: solid underline currentColor 2px;
    }
  }

  &[data-btn-type="default"]:hover {
    color: var.$base-background;
    background-color: #b3a6a6;
  }

  &:focus-visible {
    outline: 2px solid var.$base-background;
    outline-offset: 2px;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.cart {
  display: flex;
  border: 1px solid black;
  border-radius: 9999px;
  color: currentColor;
  flex-direction: column;
  font-size: 14px;
  font-weight: 700;
  height: 32px;
  justify-content: center;
  line-height: 16px;
  margin-left: 8px;
  width: 32px;
  text-decoration: none !important;
}
