@use "variables" as var;

%flex-center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

%default-btn {
  border-radius: 9999px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.25;
  padding-left: 2.8rem;
  padding-right: 2.8rem;
}

@mixin select-text-black {
  &::selection {
    background-color: var.$base-background;
    @content;
  }
}

%nested-picture-style {
  div {
    padding-top: 100%;
    overflow: hidden;
    position: relative;

    picture {
      display: block;
      max-width: 100%;

      img {
        opacity: 1;
        position: absolute;
        display: block;
        height: calc(100% + 1px);
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        transition: opacity 0.4s linear;
        width: calc(100% + 1px);
        z-index: 1;
        object-fit: cover;
        max-width: 100%;
      }
    }
  }
}

.home {
  min-height: 100vh;
  //background-color: #f4f4f0;
}

.promo-bar {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: var.$base-background;
  scroll-behavior: smooth;
  z-index: 7;

  .promo-bar-content {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    justify-content: center;
    padding: 11px 30px;

    a {
      display: block;
      color: var.$base-foreground;
    }
  }
}

main {
  .section-1 {
    background-color: var.$base-foreground;
    padding: 80px 32px;
    position: relative;

    .section-content {
      margin-left: auto;
      margin-right: auto;

      .inner-section-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        .-picture {
          align-self: center;

          .rc {
            figure {
              margin: 0;
              position: relative;

              .ar {
                overflow: hidden;
                position: relative;

                picture {
                  display: block;
                  max-width: 100%;

                  img {
                    display: block;
                    height: calc(100% + 1px);
                    transition: opacity 0.4s linear;
                    width: calc(100% + 1px);
                    object-fit: cover;
                    max-width: 100%;
                  }
                }
              }
            }
          }
        }

        .-content-right {
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 920px;

          .-content-right-src {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 50%;

            h2 {
              font-size: 36px;
              line-height: 45px;
              font-weight: 400;
              margin-bottom: 16px;
            }

            p {
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 16px;
            }

            a {
              border: 1px solid black;
              text-decoration: none;
              @extend %default-btn;

              &:hover {
                color: var.$base-foreground;
                background-color: var.$base-background;
              }
            }
          }
        }
      }
    }
  }
}

.hero {
  height: calc(var(--vh, 1vh) * 100);
  min-height: 450px;
}

.hero-overlay {
  @extend %flex-center-both;
  flex-direction: column;
  gap: 20px;
  min-height: inherit;
  height: 100%;

  .hero-content {
    .hero-src {
      text-align: center;

      h1 {
        font-size: 82px;
        line-height: 103px;
        font-weight: 400;
        color: var.$base-foreground;

        @include select-text-black;
      }

      p {
        font-size: 20px;
        font-weight: 400;
        color: var.$base-foreground;

        @include select-text-black;
      }
    }
  }

  div {
    .shop-vinyls {
      @extend %default-btn;
      text-decoration: none;
      color: var.$base-background;
      background-color: var.$base-foreground;
    }
  }
}

.hero-picture {
  position: relative;
  top: -100%;
  z-index: -1;
  height: calc(100% - 1px);
  width: 100%;

  .hero-picture-layout {
    overflow: hidden;
    height: 100%;

    picture {
      display: block;
      max-width: 100%;

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        object-fit: cover;
        display: block;
        height: calc(100% + 1px);
        width: 100%;
        transform: translate3d(-50%, -50%, 0);
        transition: opacity 0.4s linear;
        z-index: -1;
      }
    }
  }
}

.section {
  background-color: var.$base-foreground;
  height: fit-content;
  padding: 6rem 3.6rem;

  .section-content {
    height: 100%;

    .section-inner-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
}

.s-c {
  height: 100%;
  max-width: 62rem;

  .section-content-src {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    line-height: 3.5rem;
    font-weight: 400;

    @include select-text-black {
      color: var.$base-foreground;
    }
  }

  .section-content-b {
    a {
      @extend %default-btn;
      color: var.$base-foreground;
      background-color: var.$base-background;
      text-decoration: none;
    }
  }
}

.marquee-section {
  background-color: var.$base-foreground;
  height: 542px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.marquee {
  height: 100%;
  border-bottom-width: 1px;
  overflow: hidden;
  position: relative;

  .marquee-layout {
    display: flex;
    height: 100%;

    div[data-marquee="true"] {
      display: flex;
      flex: 1 0 auto;

      animation-name: left-transform-marquee;
      animation-duration: 150s;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-timing-function: linear;
      will-change: transform;

      @keyframes left-transform-marquee {
        0% {
          transform: translateZ(0);
        }

        100% {
          transform: translate3d(-100%, 0, 0);
        }
      }
    }
  }
}

.marquee-items {
  display: flex;

  .marquee-product {
    display: flex;
    flex-direction: column;
    margin-bottom: -0.1rem;
    margin-top: -0.1rem;
    max-width: 450px;
    height: 544px;
    width: calc(80vw - 2rem);
    border: 1px solid black;
  }
}

.-product-card {
  flex: 1 1 0;
  opacity: 1;
  border-width: 1px;
  margin: -0.5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  white-space: normal;
  height: 100%;

  &:hover {
    .-product-card-visual {
      .photo {
        .is-hover {
          opacity: 1;
          visibility: visible;
        }
      }

      .-add-cart {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
      }
    }
  }
}

.-product-card-visual {
  position: relative;

  .photo {
    overflow: hidden;
    position: relative;

    .is-hover {
      margin: 0;
      inset: 0;
      opacity: 0;
      position: absolute;
      transition-duration: 0.15s;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      visibility: hidden;
      z-index: 1;

      @extend %nested-picture-style;
    }

    .is-default {
      margin: 0;
      position: relative;

      @extend %nested-picture-style;
    }
  }

  .-add-cart {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 1.6rem 3.2rem 1.6rem;
    opacity: 0;
    position: absolute;
    text-align: center;
    will-change: transform;
    z-index: 5;
    visibility: hidden;
    transform: translateY(50%);

    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    button {
      height: 50px;
      font-size: 20px;
    }
  }
}

.-product-card-details {
  margin-top: 1.6rem;

  .-product-card-header {
    .-product-title {
      text-align: center;

      .-product-link {
        font-size: 36px;
        line-height: 45px;
        font-weight: 400;
        text-decoration: none;
        color: var.$base-background;

        &:after {
          content: "";
          display: block;
          inset: 0;
          position: absolute;
          z-index: 2;
        }
      }
    }

    .-price {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      .-price-current {
        font-size: 16px;
        font-weight: 600;
      }

      .-price-discount {
        background-color: var.$base-background;
        border-radius: 0.3rem;
        color: var.$base-foreground;
        font-size: 0.6rem;
        font-weight: 600;
        letter-spacing: 0.1em;
        margin-left: 0.8rem;
        padding: 0.4rem 0.6rem;
        text-transform: uppercase;
      }
    }
  }
}
