@mixin button() {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  flex-wrap: wrap;
  flex-shrink: 0;

  height: fit-content;
  min-height: 25px;

  width: 100%;

  padding: 0.5rem 1rem;

  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;

  cursor: pointer;
  text-align: center;

  border: 1px;
  border-radius: 0.375rem;

  color: hsl(222.2 47.4% 1.2%);
  background-color: #cbcccd;
  text-transform: none;

  text-decoration-line: none;
  -webkit-text-decoration-line: none;

  user-select: none;
  -webkit-user-select: none;

  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;

  &:hover {
    background-color: hsla(210, 40%, 98%, 1);
  }

  @content;
}

@mixin flex-centered() {
  display: flex;
  justify-content: center;
  align-items: center;

  @content;
}

.home {
  display: flex;
  min-height: 100vh;
  background-color: #161616;

  .-layout {
    display: flex;
    flex: 1;
  }
}

.-nav-layout {
  padding: 1.5rem 2rem 0 2rem;
  width: 100%;
  position: absolute;
  top: 0;

  .-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.-inner-nav {
  a {
    @include flex-centered;
    color: white;
    gap: 6px;

    text-decoration: none;

    .-page-logo {
      display: flex;
      align-items: center;

      svg {
        color: white;
      }
    }

    .-page {
      margin-bottom: 1px;
      font-weight: 400;
      user-select: none;
    }
  }
}

.-about {
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    flex-wrap: wrap;
    flex-shrink: 0;
    height: fit-content;
    min-height: 25px;
    width: fit-content;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 0.625rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    border: 1px;
    border-radius: 0.375rem;
    text-transform: uppercase;
    color: white;
    background-color: #2e2e2e;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    -webkit-user-select: none;
    user-select: none;
    outline-width: 0;

    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);

    &:hover {
      background-color: #343434;
    }
  }
}

.-main-layout {
  display: flex;
  flex: 1;

  section {
    flex: 1;
    flex-basis: 25%;
  }
}

.-sign-layout {
  flex: 1;
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 4rem 1.25rem 2rem;

  background-color: #1c1c1c;
  border-right: 1px solid #2e2e2e;

  height: 100%;
}

.-sign-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 384px;
}

.-sign-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2.5rem;

  h1 {
    color: white;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
    letter-spacing: -0.025em;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  h2 {
    color: #bbb;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

.-auth-section {
  @include flex-centered() {
    flex-direction: column;
    gap: 1.25rem;
  }

  width: 384px;
}

.-form-layout {
  @include flex-centered() {
    flex-direction: column;
    gap: 1.25rem;
  }

  width: 100%;

  form {
    width: 100%;

    .-form-inner-layout {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}

.-input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.875rem;
}

.-input-title {
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    display: flex;
    justify-content: space-between;
    padding: 0 2px;

    span {
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: #bbb;
    }

    a {
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: #bbb;
      text-decoration: none;
    }
  }
}

.-input {
  div {
    input {
      display: flex;
      height: 2.5rem;
      width: 100%;
      border: 1px solid #3e3e3e;
      font-size: 0.875rem;
      line-height: 1.25rem;
      padding: 0.5rem 0.75rem;
      border-radius: calc(0.5rem - 2px);
      color: #ededed;
      background-color: hsla(0, 0%, 100%, 0.03);

      outline: 2px solid transparent;
      outline-offset: 2px;

      transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);

      &:focus {
        border-color: #707070;
        --tw-ring-offset-shadow: 0 0 0 0 #fff;
        --tw-ring-shadow: 0 0 0 calc(2px + 0px) #282828;
        --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
          0 2px 4px -2px rgba(0, 0, 0, 0.1);
        box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
          var(--tw-shadow, (0 0 #0000));
      }

      &[data-error="true"] {
        background-color: #1f1315;
        border-color: #822025;

        &:focus {
          border-color: #707070;
          --tw-ring-offset-shadow: 0 0 0 0 #fff;
          --tw-ring-shadow: 0 0 0 calc(2px + 0px) #282828;
          --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -2px rgba(0, 0, 0, 0.1);
          box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
            var(--tw-shadow, (0 0 #0000));
        }
      }
    }
  }

  p {
    display: none;
    color: #e5484d;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 0.5rem;
    font-weight: 600;
    height: 0;
    opacity: 0;

    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);

    &[data-error="true"] {
      display: block;
      animation: slideDownError 0.2s cubic-bezier(0.87, 0, 0.13, 1) forwards;

      @keyframes slideDownError {
        0% {
          height: 0;
          opacity: 0;
        }
        100% {
          height: inherit;
          opacity: 1;
        }
      }
    }
  }
}

.-sign-in,
.-sign-up {
  width: 100%;
  margin-top: 8px;

  button {
    @include button;
  }
}

.-separator {
  width: 100%;
  position: relative;

  .-line {
    display: flex;
    align-items: center;
    position: absolute;
    inset: 0;

    div {
      width: 100%;
      border-top: 1px solid #3e3e3e;
    }
  }

  .-text {
    @include flex-centered;

    position: relative;

    span {
      font-size: 0.875rem;
      line-height: 1.25rem;

      padding-left: 0.5rem;
      padding-right: 0.5rem;

      color: #ededed;
      background-color: #1c1c1c;
    }
  }
}

.-third-party-auth {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  .-github {
    button {
      @include button;
      gap: 8px;
      color: #ededed;
      background-color: #2e2e2e;

      &:hover {
        background-color: #454545;
      }
    }
  }

  .-gmail {
    button {
      @include button;
      gap: 8px;
      color: #1c1c1c;
      background-color: #f07470;

      &:hover {
        background-color: #ea4c46;
      }
    }
  }
}

.-sign-up-section,
.-sign-in-section {
  display: flex;
  gap: 4px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  align-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  span {
    color: #7e7e7e;
  }

  a {
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, backdrop-filter, -webkit-text-decoration-color,
      -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;

    text-decoration-line: underline;
    color: #ededed;
  }
}

.-auth-policy {
  width: 384px;
  text-align: center;

  p {
    color: #707070;
    font-size: 0.75rem;
    line-height: 1rem;

    a {
      color: inherit;
      text-decoration-line: underline;

      &:hover {
        color: #bbb;
      }
    }
  }
}

.-quotes {
}
