.-header-section {
  section {
    margin-top: 1rem;

    h1 {
      color: #ededed;
    }
  }

  nav {
    //padding: 1rem;
    margin-top: 12px;

    .-nav-layout {
      width: 100%;

      .-inner-nav-layout {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #282828;

        button {
          display: flex;
          align-items: center;
          color: #707070;
          background-color: transparent;
          padding: 0.5rem 0.75rem;
          border: 0;
          font-size: 0.875rem;
          line-height: 1rem;
          text-align: center;
          cursor: pointer;

          transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

          &.-active {
            color: #ededed;
            border-bottom: 2px solid #ededed;
          }

          &:hover {
            color: #ededed;
          }
        }
      }
    }
  }
}

.-card {
  margin: 1rem 0;

  .-inner-card {
    //padding: 1rem;
    max-width: 56rem;

    section {
      .-card-layout {
        border: 1px solid #282828;
        border-radius: 0.375rem;
        overflow: hidden;
        margin-bottom: 2rem;

        box-shadow: 0 0 #000000, 0 0 #000000, 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      }
    }
  }
}

.-card-header {
  background-color: #232323;
  border-bottom: 1px solid #282828;

  div {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;

    h5 {
      color: #ededed;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }
  }
}

.-card-content {
  background-color: #232323;

  .-inner {
    padding: 1rem 1.5rem;

    .-inner-card-content {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

.-row {
  .-row-content {
    display: flex;
    justify-content: space-between;

    .-row-title {
      display: flex;
      flex-direction: column;

      span {
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #bbb;
      }
    }

    .-row-input {
      width: 540px;
      position: relative;

      input {
        outline: 2px solid transparent;
        outline-offset: 2px;
        opacity: 0.5;
        color: #ededed;
        background-color: hsla(0, 0%, 100%, 0.026);
        border: 1px solid #3e3e3e;
        border-radius: 0.375rem;
        width: 100%;
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding: 0.5rem 1rem;

        box-shadow: 0 0 #000000, 0 0 #000000, 0 1px 2px 0 rgba(0, 0, 0, 0.05);

        transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      a {
        text-decoration: none;

        button {
          display: inline-flex;
          align-items: center;
          color: #ededed;
          background-color: #2e2e2e;
          font-size: 0.875rem;
          line-height: 1.25rem;
          text-align: center;
          outline: 2px solid transparent;
          outline-offset: 2px;
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          cursor: pointer;
          border: 0;

          transition: all 200ms cubic-bezier(0, 0, 0.2, 1);

          &:hover {
            background-color: #343434;
          }

          span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.-danger-zone {
  margin: 1rem 0;

  .-inner-danger-zone {
    //padding: 1rem;
    max-width: 56rem;

    section {
      .-danger-zone-content {
        border: 1px solid #282828;
        border-radius: 0.375rem;
        overflow: hidden;
        margin-bottom: 2rem;

        box-shadow: 0 0 #000000, 0 0 #000000, 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      }
    }
  }
}

.-danger-zone-header {
  background-color: #232323;
  border-bottom: 1px solid #282828;

  div {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;

    h5 {
      color: #ededed;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }
  }
}

.-danger-zone-layout {
  background-color: #232323;

  .-inner {
    padding: 1rem 1.5rem;
  }
}

.-delete-account-card {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .-inner-delete-account-card {
    display: flex;
    gap: 16px;
    background-color: #1f1315;
    border: 1px solid #822025;
    padding: 1rem 1.5rem;
    border-radius: 0.375rem;

    .-svg {
      color: #e5484d;

      svg {
        display: block;
        vertical-align: middle;
      }
    }

    .-content {
      display: flex;
      align-items: center;
      flex: 1;

      div {
        h3 {
          font-weight: 400;
          font-size: 0.875rem;
          line-height: 1.25rem;
          margin-bottom: 0.25rem;

          span {
            color: #e5484d;
          }
        }

        div {
          font-size: 0.75rem;
          line-height: 1rem;

          p {
            color: #e5484d;
          }

          div {
            margin-top: 0.5rem;

            button {
              display: inline-flex;
              align-items: center;
              color: #ff6369;
              background-color: #291415;
              font-size: 0.75rem;
              line-height: 1rem;
              text-align: center;
              padding: 0.25rem 0.625rem;
              border-radius: 0.25rem;
              outline: 2px solid transparent;
              outline-offset: 2px;
              border: 1px solid #822025;
              cursor: pointer;

              transition: all 150ms cubic-bezier(0, 0, 0.2, 1);

              span {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }

              &:hover {
                color: #fbfcfd;
                background-color: #e5484d;
                border-color: #e5484d;
              }
            }
          }
        }
      }
    }
  }
}

.alert {
    position: fixed;
    z-index: 9999;
    inset: 16px;
    pointer-events: none;

    .alert-panel {
        color: #ededed;
        background-color: #1c1c1c;
        border: 1px solid #282828;

        display: flex;
        align-items: center;
        line-height: 1.3;
        will-change: transform;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.05);
        max-width: 380px;
        width: fit-content;
        pointer-events: auto;
        border-radius: 8px;

        margin-left: auto;

        padding: 8px 16px;
        font-size: 0.875rem;
        animation: 0.35s cubic-bezier(0.21, 1.02, 0.73, 1) 0s 1 normal forwards
        running alert-pop-up;

        @keyframes alert-pop-up {
            0% {
                transform: translate3d(0, -200%, 0) scale(0.6);
                opacity: 0.5;
            }
            100% {
                transform: translate3d(0, 0, 0) scale(1);
                opacity: 1;
            }
        }
    }
}

.icon {
    svg {
        display: block;
        vertical-align: middle;
    }
}

.alert-content {
    display: flex;
    align-items: center;
    margin-left: 6px;

    .message {
        max-width: 260px;
        width: 100%;

        span {
            text-align: center;
            width: 100%;
            overflow-wrap: break-word;
            word-break: break-word;
        }
    }

    .close-btn {
        margin-left: 1rem;

        button {
            display: inline-flex;
            align-items: center;
            color: #ededed;
            background-color: transparent;
            font-size: 0.75rem;
            line-height: 1rem;
            text-align: center;
            padding: 0.25rem;
            border: 0;
            border-radius: 0.25rem;

            cursor: pointer;

            outline: 2px solid transparent;
            outline-offset: 2px;

            transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);

            &:hover {
                background-color: #2e2e2e;
            }

            svg {
                display: block;
                vertical-align: middle;
            }
        }
    }
}
