.-header-section {
  section {
    margin-top: 1rem;

    h1 {
      color: #ededed;
    }
  }

  nav {
    //padding: 1rem;
    margin-top: 12px;

    .-nav-layout {
      width: 100%;

      .-inner-nav-layout {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #282828;

        button {
          display: flex;
          align-items: center;
          color: #707070;
          background-color: transparent;
          padding: 0.5rem 0.75rem;
          border: 0;
          font-size: 0.875rem;
          line-height: 1rem;
          text-align: center;
          cursor: pointer;

          transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

          &.-active {
            color: #ededed;
            border-bottom: 2px solid #ededed;
          }

          &:hover {
            color: #ededed;
          }
        }
      }
    }
  }
}

.-layout-1 {
  margin-top: 1rem;
  overflow: visible;

  .-inner-layout {
    position: relative;
    border-radius: 0.25rem;
    overflow-x: auto;

    .-table-layout {
      display: inline-block;
      vertical-align: middle;
      min-width: 100%;
    }
  }
}

.-table {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  text-indent: 0;
  border-color: inherit;
}

thead {
  tr {
    th {
      color: #bbb;
      background-color: #232323;
      border-top: 1px solid #282828;
      border-bottom: 1px solid #282828;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 400;
      text-align: left;
      padding: 0.75rem 1rem;

      &:first-child {
        border-left: 1px solid #282828;
        border-radius: 0.25rem 0 0 0;
        padding-left: 1.5rem;
      }

      &:last-child {
        border-right: 1px solid #282828;
        border-radius: 0 0.25rem 0 0;
        padding-right: 1.5rem;
      }
    }
  }
}

tbody {
  tr {
    position: relative;
    background-color: #1c1c1c;

    td {
      color: #a0a0a0;
      border-color: #282828;
      border-style: solid;
      border-top-width: 0;
      border-right-width: 0;
      border-bottom-width: 1px;
      border-left-width: 0;
      padding: 0.75rem 1rem;
      font-size: 0.875rem;
      line-height: 1.25rem;

      &:first-child {
        border-left-width: 1px;
        padding-left: 1.5rem;
      }

      &:last-child {
        border-right-width: 1px;
        padding-right: 1.5rem;
      }

      span {
        color: #ededed;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.875rem;
        line-height: 1.25rem;

        &.success {
          color: #6ee7b7;
        }

        &.cancel {
          color: #ffa7a3;
        }

        &.delay {
          color: #ffd47d;
        }
      }
    }

    .view {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #ededed;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;

        p {
          opacity: 0;
          color: #ededed;
          font-size: 0.875rem;
          line-height: 1.25rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          transition-property: color, background-color, border-color,
            text-decoration-color, fill, stroke, opacity, box-shadow, transform,
            filter, backdrop-filter, -webkit-text-decoration-color,
            -webkit-backdrop-filter;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 0.15s;
        }

        &:nth-child(n + 2) {
          margin-left: 10px;
        }
      }

      svg {
        margin-left: 8px;
        cursor: pointer;
      }

      &:hover {
        a {
          p {
            opacity: 1;
          }
        }
      }
    }
  }
}
